[submodule "lang/vendor/uvmhs"]
	path = lang/vendor/uvmhs
	url = git@github.com:uvm-plaid/uvmhs.git
[submodule "lang/backends/emp/vendor/symphony-emp-tool"]
	path = lang/backends/emp/vendor/symphony-emp-tool
	url = git@github.com:Isweet/symphony-emp-tool.git
[submodule "lang/backends/emp/vendor/symphony-emp-ot"]
	path = lang/backends/emp/vendor/symphony-emp-ot
	url = git@github.com:Isweet/symphony-emp-ot.git
[submodule "lang/backends/emp/vendor/symphony-emp-sh2pc"]
	path = lang/backends/emp/vendor/symphony-emp-sh2pc
	url = git@github.com:Isweet/symphony-emp-sh2pc.git
[submodule "lang/backends/spdz/vendor/symphony-spdz"]
	path = lang/backends/spdz/vendor/symphony-spdz
	url = git@github.com:Isweet/symphony-spdz.git
